@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 5px;
}

.container{
    width: 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 45, 45);
    font-family: PT Sans;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.item{
    margin: 10px;
    color: rgb(172, 167, 167);
    height: 50px;
    width: 50px;
}

.logo{
    width: 30px;
    vertical-align: middle;
}

.border{
    height: 3px;
    background-color: rgb(61, 58, 58);
    border-radius: 50px;
}

.text{
    color: rgb(12, 142, 12);
    vertical-align: middle;
    font-size: 40px;
    font-weight: 100;
    font-family: Ubuntu;
}

#cross{
    width: 40px;
    vertical-align: middle;
}

#i1{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 5px;
}

#i2{
    background-color: rgb(61, 58, 58);
    border-radius: 100%;
    transition: 0.2s;
    line-height: 45px;
    margin-bottom: 5px;
}

#i2:hover{
    background-color: rgb(69, 96, 215);
    transition: 0.2s;
    border-radius: 20px;
}

#i3{
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    height: auto;
}

#i4{
    margin-top: 0;
    background-color: rgb(61, 58, 58);
    border-radius: 100%;
    transition: 0.2s;
    margin-bottom: 5px;
    text-align: center;
    line-height: 35px;
}

#i4:hover{
    background-color: #00a850;
    transition: 0.2s;
    border-radius: 20px;
}